body {
  margin: 0
}

.navbar ul {
  list-style: none;
  background: #687EFF;
  margin: 0;
  padding: 10px;
  text-align: center;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
  box-shadow: 0 4px 20px;
}

.navbar li {
  display: inline-block;
}

.navbar a {
  text-decoration: none;
  color: #fff;
  width: 100px;
  display: block;
  font-size: 20px;
  text-align: center;
  font-family: 'Dosis', sans-serif ;
}

.navbar a:hover {
  font-weight: bold;
}