html {
  scroll-behavior: smooth;
}

body {
  background-color: white;
  margin: 0;
  padding: 0;
  width: 100%;
}

img {
  user-select: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

/* ----------------------- NAVIGATION ----------------------- */

.navbar {
  display: flex;
  justify-content: right;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 10;
}

.navbar a {
  text-decoration: none;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 1vw;
  text-align: center;
}

.navbar a:hover {color: white;}
.navbar li {padding: 1vw; transition-duration: 0.2s}
.navbar li:hover {background-color: #00ADB5;}


/* ----------------------- HOME PAGE ----------------------- */

.home {
  background-image: url('elements/images/night_time_bg.jpg');
  background-size: cover;
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.home_container {
  background: rgba(17, 17, 17, 0.25);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  border-radius: 5vw;
  box-shadow: 0 0 3vh #00ADB5;
  display: flex;
  height: 70%;
  width: 85%;
}

.home_image_container {
  height: 100%;
  width: 45%;
  position: relative;
  display: flex;
  justify-content: right;
  align-items: center;
  right: 5%;
}

.home_image_container img {
  height: 30vw;
  width: 30vw;
  border-radius: 100%;
  background-image: url('elements/images/night_time_bg.jpg');
  background-size: cover;
}

.home_heading_container {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  height: 100%;
  width: 55%;
}

.home_heading_container h1 {
  color: white;
  position: relative;
  font: 500 4vw "Patua One", sans-serif;
  margin: 0%;
}

.home_heading_container p {
  color: white;
  position: relative;
  font: 300 1vw "Poppins", sans-serif;
  margin: 0%;
  width: 85%;
}

.home_heading_container button{
  background-color: #00ADB5;
  color: #E9F8F9;
  font: 300 1vw "Poppins", sans-serif;
  margin-block: 10%;
  border: none;
  border-radius: 2vw;
  transition-duration: 0.1s;
  padding-inline: 3vw;
  padding-block: 1vw;
}

  .home_heading_container button:hover {
    box-shadow: 0 0 0.75vw #00ADB5;
    cursor: pointer;
    transform: scale(1.025);
  }

  .home_heading_container button:active {
    transform: scale(1.0);
  }

.home_links {
  height: 10%;
  width: 100%;
}

.home_links a {
  display: inline;
  margin-inline: 0.5%;
}

.home_links img {
  border-radius: 100%;
  height: 3vw;
  width: 3vw;
  transition-duration: 200ms;
}

  .home_links img:hover {
    transform: scale(1.2);
  }

/* ----------------------- ABOUT PAGE ----------------------- */

.about {
  background: rgb(176,48,176);
  background: linear-gradient(50deg, rgba(176,48,176,1) 0%, rgba(96,32,128,1) 40%, rgba(32,32,96,1) 100%);  position: relative;
  height: 40vw;
  width: 100%;
  display: flex;
  align-items: center;
}

.section_title {
  color: white;
  font: 500 4vw "Patua One", sans-serif;
  margin: 0;
}

.about_content_container {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  margin-left: 5%;
}

.about_content_container p {
  color: white;
  font: 300 1vw "Poppins", sans-serif;
}

.about_image_container {
  height: 100%;
  width: 45%;
}

.about_image_container img {
  height: 95%;
  position: absolute;
  bottom: 0;
}

/* ----------------------- SKILLS PAGE ----------------------- */

.skills {
  height: fit-content;
  width: 100%;
  background-image: url('elements/images/wallpaper_skills.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding-block: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.skills_container {
  background: rgba(17, 17, 17, 0.25);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  margin-top: 5%;
  border: 0.25vw solid #555c68;
  border-radius: 5vw;
  box-shadow: 0 0 1.25vw #00ADB5;
  height: fit-content;
  width: 90%;
  text-align: center;
  padding-block: 5vh;
}

div.skills_programming_container {
  margin: 0;
  position: relative;
  height: fit-content;
  width: 100%;
}

div.skills_design_container {
  margin-top: 3%;
  height: fit-content;
  width: 100%;
  position: relative;
}

div.skills_others_container {
  margin-top: 3%;
  height: fit-content;
  width: 100%;
  position: relative;
}

h1.skills_container {
  color: white;
  font: 500 2.25vw "Poppins", sans-serif;
  text-align: center;
  margin: 0;
}

div.skill_block {
  position: relative;
  background-color: #E9F8F9;
  border-radius: 2vw;
  height: 20vw;
  width: 15%;
  display: inline-flex;
  margin-inline: 2%;
  margin-top: 3%;
  transition-duration: 200ms;
}

div.skill_block:hover {
  transform: scale(1.05);
  box-shadow: 0 0 0.75vw #00ADB5
}

div.skill_block_design_1 {
  background-color: #00ADB5;
  position: absolute;
    bottom: 0;
  height: 50%;
  width: 100%;
  border-bottom-left-radius: 2vw;
  border-bottom-right-radius: 2vw;
  border-top-right-radius: 2vw;
  text-align: center;
}

div.skill_block_design_2 {
  background-color: #00ADB5;
  position: absolute;
  height: 50%;
  width: 50%;
  border-top-left-radius: 2vw;
  border-top-right-radius: 2vw;
}

div.skill_block_design_3 {
  background-color: #E9F8F9;
  position: absolute;
  height: 50%;
  width: 100%;
  border-top-left-radius: 2vw;
  border-top-right-radius: 2vw;
  border-bottom-left-radius: 2vw;
}

img.skill_block {
  position: relative;
  height: 5vw;
  width: 5vw;
  margin-top: 20%;
  margin-inline: auto;
  z-index: 1;
}

h1.skill_block {
  color: #E9F8F9;
  font: 500 1.75vw "Poppins", sans-serif;
  margin: 5% 0 0 10%;
  text-align: left;
}

p.skill_block {
  color: #E9F8F9;
  font: 300 1vw "Poppins", sans-serif;
  margin: 0 0 0 10%;
  text-align: left;
}

button.skill_block {
  background-color: #222831;
  color: #E9F8F9;
  font: 300 1vw "Poppins", sans-serif;
  position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 9%;
  border: none;
  border-radius: 2vw;
  transition-duration: 0.1s;
  width: 85%;
  padding-block: 0.75vw;
}

  button.skill_block:hover {
    cursor: pointer;
    transform: scale(1.05);
  }

  button.skill_block:active {
    transform: scale(1);
  }

/* ----------------------- WORK PAGE ----------------------- */

.work {
  height: fit-content;
  width: 100%;
  padding-block: 5%;
  background: rgb(176,48,176);
background: linear-gradient(50deg, rgba(176,48,176,1) 0%, rgba(96,32,128,1) 50%, rgba(32,32,96,1) 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.work_container {
  height: fit-content;
  width: 80%;
  margin-top: 5%;
  display: flex;
}

.work_block {
  height: fit-content;
  width: 50%;
}

.work_block, h1, h2, h3, p, li {
  color: white;
  font-family: 'Poppins', sans-serif;
  margin: 1%;
}

.work_block h1 {
  font-size: 1.75vw;
}

.work_block, h2, h3 {
  font-size: 1.25vw;
  font-weight: 300;
}