html {
  scroll-behavior: smooth;
}

body {
  background-color: white;
  margin: 0;
  padding: 0;
}

img {
  user-select: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

/* ----------------------- NAVIGATION ----------------------- */

.navbar {
  display: flex;
  justify-content: right;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 3;
}

.nav_logo {
  padding-inline: 2%;
  padding-block: 0.75%;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 3;
}

.nav_logo p {
  color: #00ADB5;
  font-family: 'Patua One', sans-serif;
  font-size: 2vw;
  margin: 0;
}

.nav_logo img {
  height: 2vw;
  width: 2vw;
  margin-right: 5%;
}

.navbar a {
  text-decoration: none;
  color: #00ADB5;
  font-family: 'Poppins', sans-serif;
  font-size: 1vw;
  text-align: center;
}

.navbar a:hover {color: white;}
.navbar li {padding: 1vw; transition-duration: 0.2s}
.navbar li:hover {background-color: #00ADB5;}

@media screen and (max-width: 430px){
  nav {
    height: fit-content;
    width: 100%;
    position: absolute;
    top: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  
  .nav_logo {
    position: relative;
    height: fit-content;
    width: fit-content;
    padding-inline: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .nav_logo p {
    font: 300 3vh "Patua One";
    margin: 0;
    padding: 0;
  }
  
  .nav_logo img {
    height: 3vh;
    width: 3vh;
  }
  
  .navbar {
    position: relative;
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
  }  

  .navbar a {
    margin-inline: 2%;
    text-decoration: none;
    color: #00ADB5;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5vh;
    text-align: center;
  }
}

/* ----------------------- HOME PAGE ----------------------- */

.home {
  background-color: #F6F4EB;
  background-size: cover;
  height: 100dvh;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.home_container {
  background: white;
  box-shadow: 0 0.25em 0.5em #4E4C5A;
  border-radius: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: 85%;
  padding-block: 3%;
}

.home_image_container {
  height: fit-content;
  width: fit-content;
}

.home_image_container img {
  height: 30vw;
  width: 30vw;
  border-radius: 100%;
  background-size: cover;
}

.home_heading_container {
  display: flex;
  align-items: start;
  flex-direction: column;
  padding-left: 3%;
  height: fit-content;
  width: 52%;
}

.home_heading_container h1 {
  color: #00ADB5;
  position: relative;
  font: 500 4vw "Patua One", sans-serif;
  margin: 0%;
}

.home_heading_container p {
  color: #4E4C5A;
  position: relative;
  font: 400 1vw "Poppins", sans-serif;
  margin: 0%;
  width: 90%;
}

.home_heading_container button{
  background-color: #00ADB5;
  color: #E9F8F9;
  font: 300 1vw "Poppins", sans-serif;
  margin-block: 10%;
  border: none;
  border-radius: 2vw;
  transition-duration: 0.1s;
  padding-inline: 3vw;
  padding-block: 1vw;
}

  .home_heading_container button:hover {
    cursor: pointer;
    color: #00ADB5;
    outline: 0.25em solid #00ADB5;
    background-color: white;
  }

.home_links {
  height: 10%;
  width: 100%;
}

.home_links a {
  display: inline;
  margin-inline: 0.5%;
}

.home_links img {
  border-radius: 100%;
  height: 3vw;
  width: 3vw;
  transition-duration: 200ms;
}

  .home_links img:hover {
    transform: scale(1.2);
  }

@media screen and (max-width: 430px){
  .home {
    height: 100svh;
  }

  .home_container {
    margin-top: 10%;
    padding: 0;
    height: 75%;
    width: 85%;
    background: white;
    box-shadow: 0 0.25em 0.5em #4E4C5A;
    border-radius: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .home_image_container img {
    height: 35vh;
    width: 35vh;
    border-radius: 100%;
    background-size: cover;
    margin-block: 5%;
  }

  .home_heading_container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-left: 3%;
    height: fit-content;
    width: 100%;
  }
  
  .home_heading_container h1 {
    color: #00ADB5;
    position: relative;
    font: 500 3.5vh "Patua One", sans-serif;
    margin-block: 1%;
  }
  
  .home_heading_container p {
    color: #4E4C5A;
    position: relative;
    font: 400 1.25vh "Poppins", sans-serif;
    text-align: center;
    margin: 0 0 1%;
    width: 80%;
  }
  
  .home_heading_container button{
    background-color: #00ADB5;
    color: #E9F8F9;
    font: 300 2vh "Poppins", sans-serif;
    margin-block: 10%;
    border: none;
    border-radius: 5vw;
    transition-duration: 0.1s;
    padding-inline: 5vh;
    padding-block: 1vh;
  }
  
  .home_heading_container button:hover {
    cursor: pointer;
    color: #00ADB5;
    outline: 0.25em solid #00ADB5;
    background-color: white;
  }
  
  .home_links {
    margin-block: 5%;
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .home_links a {
    display: inline;
    margin-inline: 2%;
  }
  
  .home_links img {
    border-radius: 100%;
    height: 4vh;
    width: 4vh;
    transition-duration: 200ms;
  }
  
    .home_links img:hover {
      transform: scale(1.2);
    }
}

/* ----------------------- ABOUT PAGE ----------------------- */

.about {
  background: rgb(0,173,181);
  position: relative;
  height: 40vw;
  width: 100%;
  display: flex;
  align-items: center;
}

.section_title {
  color: white;
  font: 500 4vw "Patua One", sans-serif;
  margin: 0;
}

.about_content_container {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  margin-left: 10%;
}

.about_content_container p {
  color: white;
  font: 300 1vw "Poppins", sans-serif;
}

.about_image_container {
  height: 100%;
  width: 45%;
}

.about_image_container img {
  height: 95%;
  position: absolute;
  bottom: 0;
}

/* ----------------------- SKILLS PAGE ----------------------- */

.skills {
  height: fit-content;
  width: 100%;
  background-color: #F6F4EB;
  padding-block: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section_title_2 {
  color: #00ADB5  ;
  font: 500 4vw "Patua One", sans-serif;
  margin: 0;
}

div.skills_container {
  background-color: white;
  margin-top: 5%;
  border-radius: 5vw;
  box-shadow: 0 0.25em 0.5em #4E4C5A;
  height: fit-content;
  width: 90%;
  text-align: center;
  padding-block: 5vh;
}

div.skills_programming_container {
  margin: 0;
  position: relative;
  height: fit-content;
  width: 100%;
}

div.skills_design_container {
  margin-top: 3%;
  height: fit-content;
  width: 100%;
  position: relative;
}

div.skills_others_container {
  margin-top: 3%;
  height: fit-content;
  width: 100%;
  position: relative;
}

h1.skills_container {
  color: #00ADB5;
  font: 500 2.25vw "Poppins", sans-serif;
  text-align: center;
  margin: 0;
}

div.skill_block {
  position: relative;
  background-color: #F6F4EB;
  border: 0.25vh solid #222831;
  border-radius: 2vw;
  height: 20vw;
  width: 15%;
  display: inline-flex;
  margin-inline: 1%;
  margin-top: 3%;
  transition-duration: 200ms;
}

  div.skill_block:hover {
    transform: scale(1.05);
  }

div.skill_block_design_1 {
  background-color: #00ADB5;
  position: absolute;
    bottom: 0;
  height: 50%;
  width: 100%;
  border-bottom-left-radius: 2vw;
  border-bottom-right-radius: 2vw;
  border-top-right-radius: 2vw;
  text-align: center;
}

div.skill_block_design_2 {
  background-color: #00ADB5;
  position: absolute;
  height: 50%;
  width: 50%;
  border-top-left-radius: 2vw;
  border-top-right-radius: 2vw;
}

div.skill_block_design_3 {
  background-color: #F6F4EB;
  position: absolute;
  height: 50%;
  width: 100%;
  border-top-left-radius: 2vw;
  border-top-right-radius: 2vw;
  border-bottom-left-radius: 2vw;
}

img.skill_block {
  position: relative;
  height: 5vw;
  width: 5vw;
  margin-top: 20%;
  margin-inline: auto;
  z-index: 1;
}

h1.skill_block {
  color: white;
  font: 500 1.75vw "Poppins", sans-serif;
  margin: 5% 0 0 10%;
  text-align: left;
}

p.skill_block {
  color: white;
  font: 300 1vw "Poppins", sans-serif;
  margin: 0 0 0 10%;
  text-align: left;
}

button.skill_block {
  background-color: #222831;
  color: #E9F8F9;
  font: 300 1vw "Poppins", sans-serif;
  position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 9%;
  border: none;
  border-radius: 2vw;
  transition-duration: 0.1s;
  width: 85%;
  padding-block: 0.75vw;
}

  button.skill_block:hover {
    cursor: pointer;
    transform: scale(1.05);
  }

  button.skill_block:active {
    transform: scale(1);
  }

/* ----------------------- WORK PAGE ----------------------- */

.work {
  height: fit-content;
  width: 100%;
  padding-block: 5%;
  background-color: #00ADB5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.work_container {
  height: fit-content;
  width: 80%;
  margin-top: 5%;
  display: flex;
}

.work_block {
  height: fit-content;
  width: 50%;
}

div.work_block *{
  color: white;
  font-family: 'Poppins', sans-serif;
  margin-right: 1%;
  margin-block: 1%;
}

.work_block h1 {
  font-size: 1.75vw;
}

.work_block, h2, h3 {
  font-size: 1.25vw;
  font-weight: 300;
}

/* ----------------------- CONTACT PAGE ----------------------- */

.contact {
  height: fit-content;
  width: 100%;
  background: rgb(26,26,26);
  background: linear-gradient(336deg, rgba(26,26,26,1) 0%, rgba(41,41,41,1) 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-block: 3%;
}

.contact_content_container {
  height: fit-content;
  width: fit-content;
  margin-top: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact_block {
  background-color: white;
  height: fit-content;
  width: 13vw; 
  border-radius: 5vw;
  display: flex;
  align-items: center;
  transition: 200ms;
}

.contact_block:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.contact_block img {
  margin-left: 3%;
  height: 3vw;
  width: 3vw;
  margin-block: 2%;
}

.contact_content_container a {
  color: black;
  text-decoration: none;
  margin-left: 0;
  font: 500 0.75vw "Poppins";
  margin-inline: 2%;
}